@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.N-navbar {
    background: #0082e6;
    height: 80px;
}

#N-ham {
    display: none;
}

.N-menu {
    display: flex;
    float: right;
    margin-right: 20px;
    font-family: "Chakra Petch";
}

.N-s {
    text-decoration: none;
    line-height: 80px;
    margin: 0 5px;
    color: white;
    font-size: 17px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 3px;
}

.N-s:hover {
    background-color: #1b9bff;
    transition: .5s;
}

.N-logo {
    height: 2cm;
    width: 2cm;
    margin-left: 15%;
}

/* --------------------------------Responsivness---------------------------------- */

@media (max-width: 800px) {
    .N-menu {
        display: none;
        flex-direction: column;
        margin: 0;
        width: 65%;
        height: fit-content;
        position: absolute;
        right: 0;
        z-index: 2;
        transition: 2s;
        background-color: #0082e6;
    }

    #N-ham {
        display: flex;
        color: white;
        float: right;
        cursor: pointer;
        margin: 25px;
    }
}